@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #000;
}

button {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  background: #F6ECEC;
  border: 1.00847px solid #D46767;
  box-sizing: border-box;
  padding: 11.5px 21px;
  cursor: pointer;
}

.App {
  position: relative;
  height: 100vh;
}

#randomCountry {
  position: absolute;
  margin: 25px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0;
  margin: 0 25px;
}

.row {
  width: 550px;
  padding: 36px 45px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.book-items {
  list-style-type: none;
  counter-reset: counter 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.book-item:last-child {
  margin: 0 !important;
}

.book-toggle {
  display: flex;
  flex-direction: column;
  background: #F7ECEC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
  padding: 20px;
}

.book-toggle h2, .counter {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;
  text-transform: capitalize;
  margin: 0;
}

.book-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  align-self: flex-end;
}

.book-collapse  {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}

.book-collapse.show {
  height: auto;
}

.caret-arrow {
  background-image: url('./caret-arrow.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 29px;
  height: 22px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transform: rotateX(180deg);
}

.caret-arrow.toggled {
  transform: rotateX(360deg);
}

.customers {
  min-height: 1px;
  padding: 0 1em;
}

.customer {
  font-size: 24px;
  line-height: 29px;
  background: #F4CFCF;
  border-radius: 10px;
  text-transform: capitalize;
  text-align: center;
  padding: 25px 36px;
  margin-top: 15px;
}

#error-message {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 500;
  text-align: center;
}
